@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @foreground;
  background-color: @background;
}

#workspaces button {
  color: @foreground;
  margin-left: 0.4em;
  padding-right: 0.6em;
  padding-left: 0.1em;
}

#workspaces button.empty {
  color: @foreground-inactive;
}

#wireplumber,
#battery,
#language,
#network,
#bluetooth,
#backlight,
#memory,
#tray {
  margin-right: 1em;
}

#wireplumber:hover,
#network:hover,
#bluetooth:hover,
#clock:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
