@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

window#waybar {
  color: @foreground;
  background: @background;
}

#workspaces {
  margin-left: 0.3em;
}

#workspaces button:hover {
  border-color: transparent;
  background: rgba(255, 255, 255, 0.1);
  text-shadow: none;
}

#workspaces button {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

#workspaces button.active {
  color: @foreground;
  background: rgba(255, 255, 255, 0.1);
}

#workspaces button.empty {
  color: @foreground-inactive;
}

#wireplumber.muted {
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin-right: 0.6em;
}

#wireplumber {
  padding-left: 0.1em;
  padding-right: 0.3em;
  margin-right: 0.6em;
}

#battery {
  margin-right: 0.75em;
}

#battery.critical:not(.charging) {
  margin-right: 0.75em;
  background-color: #f85149;
}

#network {
  padding-right: 0.9em;
  padding-left: 0.3em;
  margin-right: 0.6em;
}

#bluetooth {
  padding-right: 0.6em;
  padding-left: 0.5em;
}

#tray {
  margin-right: 0.8em;
  margin-left: -0.3em;
}

#wireplumber:hover,
#network:hover,
#bluetooth:hover,
#clock:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
